h1 {
    color: #00BFFF;  /* light blue */
    font-family: Helvetica ,Arial,sans-serif;
    font-size: 25px;
/*    text-align: center;*/
    font-weight: bold;
}
h2 {
    color: #00BFFF;  /* light blue */
    font-family: Helvetica ,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
}
body {
    width: 90%;
    padding-left: 5%;
    font-family: Helvetica ,Arial,sans-serif;
    font-size: smqll;
}

/* Overwrite the bootstrap dropdown menu which was set to 100% and takine the entire cell width:*/
.form-control {
    width: auto;
}
table {
    text-align: center;
    border-spacing: 5px;
    width:auto;
    align:center;
    cellspacing: 55px;
    border-spacing: 10px;
    border-collapse: separate;
}

/*a:link {color: blue;}*/
/*a:visited {color: lightgreen;}*/
a:hover {
    background-color: #00BFFF; color: darkorange;
}

td.box {
    color: #00BFFF; /* light blue */
    border: solid;
    border-width: 2px;
    border-color: #00BFFF;
    padding: 10px;
    border-radius: 6px;
    margin: 5 5px;
}
table.box {
    width: auto;
    border: solid;
    border-width: 2px;
    border-color: #00BFFF;
    padding: 5px;
    border-radius: 6px;
}

.welcome {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.flash-message {
    color: red;
	background-color:yellow;
	text-align:center;
	padding:5px;
}